body{
    margin: 0;
}

.hero {
    color:aliceblue;
    /* background-color: #0c7b89;
    background-image: url('../../images/pexels-daria-obymaha-medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px; */
}